@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Caveat+Brush&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: auto auto;
    font-family: "Overlock", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: rgb(34, 35, 35);
}

ul {
    display: grid;
    margin: 30px;
    grid-row-gap: 20px;
    list-style: none;
    text-align: center;

}

#profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 7px solid rgb(75, 78, 78);
}

#profile-pic:hover {
    transition: all 0.3s ease;
    box-shadow: 0px 0px 50px 15px rgb(0, 0, 0);
}

#title {
    color: rgb(124, 119, 119);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 800;
}

#social {
    display: flex;
    justify-content: space-between;
}

#hr {
    border-color: #2d2d2d;
}

.head-btn {
    background-color: #3f4141;
    color: white;
    height: 60px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    border: 0;
}

.head-btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: rgb(124, 127, 127);
    box-shadow: 0px 0px 20px 5px black;
}

.icon {
    width: 20px;
    height: 20px;
}

.icons {
    width: 25px;
    height: 25px;
}

.cicon {
    width: 30px;
    height: 30px;
}

.icons:hover {
    transition: all 0.6s ease-in-out;
    width: 30px;
    height: 30px;
}

main {
    margin-left: 300px;
    background-color: #524f4f;
    display: grid;
    justify-content: center;
    align-items: center;
}

#bg-pic {
    width: 1600px;
}

#name {
    font-weight: 800;
    font-size: 50px;
    position: absolute;
    left: 350px;
    top: 600px;
    color: white;
}

#role {
    position: absolute;
    left: 350px;
    top: 670px;
    font-size: 25px;
    color: white;
}

#h_b {
    font-weight: 700;
    text-decoration: underline;
}

.card {
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    height: 300px;
    width: 300px;
}

.card-btn {
    box-shadow: 0px 0px 5px black;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid black;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    color: #fafafa;
    text-transform: uppercase;
    font-weight: 700;
}

.card-btn:hover {
    transition: all 0.3s ease;
    box-shadow: 0px 0px 15px rgb(51, 51, 51);
}

#all {
    width: 80px;
    color: black;
    background-color: rgb(146, 140, 132);
}

.about {
    margin: 25px;
    padding: 25px;
    background-color: rgba(67, 70, 70, 0.23);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.338);
    border-radius: 20px;
}

#aboutme {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

#pics {
    background-image: url("../IMAGES/pics.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px;
    border-radius: 20px;
    height: 500px;
    width: 300px;
}

#details {
    box-shadow: 0px 0px 10px;
    border-radius: 20px;
    height: 500px;
    width: 1000px;
}

#edu {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    justify-content: space-evenly;
    grid-column-gap: 20px;
}

.edu-con {
    box-shadow: 0px 0px 10px;
    border-radius: 20px;
    width: 450px;
    height: 350px;
}

.resume {
    margin: 25px;
    padding: 25px;
    background-color: rgba(67, 70, 70, 0.23);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.338);
    border-radius: 20px;
}

.port {
    margin: 25px;
    padding: 25px;
    background-color: rgba(67, 70, 70, 0.23);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.338);
    border-radius: 20px;
    display: grid;
    grid-row-gap: 20px;
}

.port1 {
    text-align: center;
    display: flex;
    margin-left: 60px;
}

.port2 {
    display: grid;
    margin: 0px 20px 0px 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

#card1 {
    background-image: url("../IMAGES/Photography/p.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#card2 {
    background-image: url("../IMAGES/Photography/pg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#card3 {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

#card4 {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

#card5 {
    background-image: url("../IMAGES/Photography/pg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#card6 {
    background-image: url("../IMAGES/Photography/pg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#card7 {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

#card8 {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

.ser {
    margin: 25px;
    padding: 25px;
    background-color: rgba(67, 70, 70, 0.23);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.338);
    border-radius: 20px;
}

.ser1 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

#ser-card1 {
    background-image: url("../IMAGES/Photography/pg4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#ser-card2 {
    background-image: url("../IMAGES/Photography/pg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#ser-card3 {
    background-image: url("../IMAGES/Photography/pg16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#ser-card4 {
    background-image: url("../IMAGES/Photography/p3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    margin: 25px;
    padding: 25px;
    background-color: rgba(67, 70, 70, 0.23);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.338);
    border-radius: 20px;
}

#form {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.form-card {
    width: 500px;
    background-color: rgba(67, 70, 70, 0.23);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.338);
    border-radius: 20px;
    display: grid;
    padding: 20px;
}

.form-card:hover {
    transition: all 0.3s ease;
    background-color: rgba(67, 70, 70, 0.23);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.338);
}

#form-btn {
    margin-top: 20px;
    padding: 15px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
}

.p-h {
    font-size: 40px;
    font-weight: 600;
}
#form1 {
    font-size: 20px;
    font-weight: 800;
    row-gap: 5px;
}
#form2 {
    width: 700px;
}

.form2-text {
    font-size: 25px;
    font-weight: 300;
}

.input {
    border-radius: 5px;
    height: 30px;
    border: 0;
    font-size: 20px;
    text-indent: 10px;
}

#message {
    height: 70px;
}

footer {
    background-color: rgb(67, 70, 70);
    text-align: center;
    height: 100px;
}